.cont.footer {
    background-color: #2e7d32; 
    color: white;
    padding: 20px 0;
    margin-top: 40px;
  }
  
  .container {
    max-width: 100%;
    margin-top: 2em;
    padding: 0 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em auto;
    border-top: rgb(43, 43, 250) solid 2px;
    border-bottom: rgb(43, 43, 250) solid 2px;
  }

  
  
  .content {
    font-size: 14px;
  }
  
  .social {
    display: flex;
    gap: 12px;
    cursor: pointer;
  }
  
  .social a {
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
